window.bar {
    background-color: rgba(0, 0, 0, 0.0);
    color: #ffffff;
    margin: 0px;
}

.bar {
    margin: 0px;
}

.bar-container {
    margin: 10px;
    padding: 0px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(65, 65, 65);
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.0);
}

button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

button:hover {
    border: 1px solid pink;
}

label {
    font-weight: bold;
}

.media {
    background-color: blueviolet;
}

.workspaces button.focused {
    border-bottom: 2px solid pink;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
}

button.unfocused{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.clock {
    margin-right: 10px;
}

.client-title {
    color: rgb(111, 151, 151);
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 0px;
}