@import url("./colors.css");

.quick-main {
    border: 1px solid @border-color;
    border-radius: 12px;
    padding: 10px;
    background-color: @bg1;
}

.quick_menu {
    border-radius: 14px;
}

/* ====== APPS ===== */
.quick-apps {
    margin: 0px;
    padding: 0px;
    background-color: @bg2;
    border-radius: 12px;
}
.quick-app-btn {
    border-radius: 12px;
    background-color: @bg2;
    padding: 20px;
    min-width: 100px;
}
.quick-app-btn:hover {
    border-color: transparent;
    background-color: @bg3;
    transition: 0.4s;
}

/* ====== LOGOUT ===== */
.quick-logout-boxes {
    background-color: @bg2;
    border-radius: 12px;
    margin: 0px;
    padding: 0px;
}
.quick-logout-btn {
    border-radius: 12px;
    background-color: @bg2;
    padding: 20px;
    min-width: 100px;
}
.quick-logout-btn:hover {
    border-color: transparent;
    background-color: @bg3;
    transition: 0.4s;
}


/* ====== INFO ===== */
/*
.quick-info {
    margin: 10px;
    min-width: 400px;
    padding: 20px;
    background-color: @bg1;
    border: 1px solid green;
}

.quick-pc-info {
    border: 1px solid red;
    min-width: 150px;
    border-radius: 12px;
    margin: 0px;
}

.quick-time-info {
    border: 1px solid blue;
    min-width: 150px;
    border-radius: 12px;
    margin: 0px;
}
*/

.quick-info {
    margin: 0px;
    min-width: 400px;
    padding: 0px;
    background-color: @bg1;
    border: 1px solid green;
}

.quick-pc-info {
    background-color: @bg2;
    padding: 20 0;
    min-width: 200px;
    border-radius: 12px;
    margin: 10 0;
}

.quick-time-info {
    background-color: @bg2;
    padding: 20 0;
    min-width: 200px;
    border-radius: 12px;
    margin: 10px 0;
    margin-right: 56
}