
@import url("./colors.css");


window.bar {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    min-height: 40px;
}

.bar-content {
    /*border: 1px solid @border-color;*/
    background: 
    linear-gradient(to right, #00FFFF, #FF0000), /* Gradient background */
    radial-gradient(circle, transparent 12px, @bg1 12px, @bg1 100%); /* Rounded corners effect */
    border-radius: 12px; /* Rounded corners */
    padding: 1px;
    background-color: @bg1;
}

button {
    all: unset;
    margin: 6px;
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid transparent;
}

button:active {
    background-color: black;
}

button:hover {
    border: 1px solid rgb(192, 255, 250);
}

label {
    font-weight: bold;
}

/*
.workspaces button.focused {
    border-bottom: 3px solid purple;
}
*/

.workspaces {
    padding: 0 5px 0 5px;
}

button.focused {
    border: 1px solid rgb(226, 103, 123);
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

button.unfocused {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
    margin-left: 4px;
    border: 1px solid gray;
}

button.unfocused:hover {
    border: 1px solid pink;
}

.client-title {
    color: white;
}

.notification {
    color: yellow;
}

.media {
    padding: 0px 0px;
}

.date {
    color: @dark_purple;
    margin-right: 10px;
}
.clock {
    color: @cyan;
    margin-right: 10px;
}
.power {
    color: @red;
    border: 1px solid transparent;
    margin-right: 10px;
}
.ram {
    color: @pink;
    margin-right: 10px;
}
.cpu {
    color: @purple;
    margin-right: 10px;
}


.power:hover {
    border: 1px solid transparent;
}

levelbar block,
highlight {
    min-height: 10px;
}

